<nav class="bg-black text-white py-4">
  <ul class="flex space-x-8 justify-center">
    <li>
      <a href="/" class="text-lg hover:text-yellow-500 transition duration-300"
        >Home</a
      >
    </li>
  </ul>
</nav>
